.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

/* New CSS variables from style.css */
.bg-main {
    background-color: var(--main-bg);
}

.bg-panel {
    background-color: var(--panel-bg);
}

.bg-card {
    background-color: var(--card-bg);
}

.invert {
    filter: invert(1);
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}


/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: #222;
}

/* For Firefox */
* {
    scrollbar-color: #333 #222;
}